
#python-dotenv
pydantic
fastapi
#requests
uvicorn
httpx
pytest
pytest-asyncio
pytest-mock
#langchain
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
pypdf
langchain-huggingface
langchain-chroma