
#python-dotenv
pydantic
fastapi
#requests
uvicorn
httpx
pytest
pytest-asyncio
langchain
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
pypdf
langchain-huggingface
langchain-chroma